body {
  font-family: poppins;
  background-color: #de1c85;
}

container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: block;
  background-image: url("../images/barbiec.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-width: 50px;
  border-radius: 50px 100px;
  margin-top: 20px;
  margin-bottom: 1px;
}

h2 {
  display: block;
  background-repeat: no-repeat;
  background-size: 700px;
  font-size: 400px;
  color: rgba(0, 0, 0, 0);
}
h1 {
  color: #de1c85;
  font-size: 80px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  color: pink;
}

.barbiespin {
  margin-left: 100px;
}
.Bhome {
  color: #de1c85;
  font-size: 20px;
}
.BNews {
  color: #de1c85;
  font-size: 20px;
}
.container-2 {
  margin: 0 auto;
  color: #de1c85;
  background-color: pink;
}
.grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
}
.barbiesd {
  border-radius: 200px 200px 200px 200px;
}
