:root {
  --primary-color: #f81586;
  --secondary-color: #f1009b;
  --accent-color: #f65282;
  --background-color: white;
}

body {
  font-family: poppins;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0px;
  background-color: var(--primary-color);
  cursor: url("../images/barbie.gif"), auto;
}

container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  margin-top: 120px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/462/original/Screenshot_2023-09-15_150300.jpg?1694953691");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0px;
  margin-left: 0;
}

header h1 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 66px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: var(--accent-color);
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  text-transform: uppercase;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #f81586;
}
main h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: rgb(218, 13, 98);
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4px;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: var(--background-color);
  background-image: linear-gradient(
      rgba(253, 208, 255, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/258/original/barbiemovie.jpg?1694800734");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: left;
}

.barbiespin {
  margin-left: 100px;
  max-width: 180px;
}
.Bhome,
.BWorld {
  color: var(--secondary-color);
  font-size: 50px;
  justify-content: space-between;
  font-weight: bold;
}
.img-responsive {
  max-width: 100%;
  margin: 0;
  display: block;
}
.container {
  max-width: 1400px;
  margin-top: 150px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.Barbie-poster {
  margin-top: 170px;
  margin-left: 0;
  height: auto;
  max-width: 100%;
}
.grid-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.grid-3-barbies-kens {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
  right: 0;
  margin-right: 0;
}
.card {
  background: rgb(243, 235, 241);
  right: 0;
  margin-right: 0;
  padding-right: 0;
}

.Barbiedance {
  width: 950px;
  height: 600px;
}
.tables {
  border: 1px var(--secondary-color);
  margin-left: 0 auto;
}
td {
  border-top: 1px var(--secondary-color);
  padding-left: 20px;
  padding-right: 50px;
  text-align: center;
  margin: 20px;
  padding-right: 950px;
  margin-right: 0px;
}
thead {
  background-color: var(--primary-color);
  padding-left: 150px;
}

.logos {
  display: inline-block;
}
.mattel {
  margin-left: 20px;
  padding-top: 40px;
}

@media (max-width: 800px) {
  .barbiespin {
    margin-left: 10px;
    max-width: 80px;
  }
  .Bhome {
    font-size: 20px;
  }
  .BWorld {
    font-size: 20px;
  }
  header {
    margin-top: 70px;
    width: 100%;
    left: 0px;
    margin-left: 0;
  }
  header h1 {
    font-size: 20px;
  }

  section {
    padding: 30;
  }
  section img {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid-middle {
    grid-template-columns: 1fr;
    grid-gap: 2px;
    width: 100%;
    margin: 0;
    letter-spacing: 303px;
  }
  .Barbieworld p {
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: normal;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 70000px;
    line-height: 1.4px;
    color: #441ddf;
    background-color: #f1009b;
    opacity: 0.7;
  }
  .Barbiedance {
    width: 100%;
    margin: 0;
  }
  .grid-3-barbies-kens {
    grid-template-columns: 1fr;
    grid-gap: 34px;
    grid-template-columns: 1fr;
  }
  .card {
    font-size: 10px;
  }
  .tables {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  td {
    padding-left: 10px;
    padding-right: 0px;
    text-align: left;
    margin: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }
  thead {
    padding-left: 10px;
  }
}
