:root {
  --primary-color: #f81586;
  --secondary-color: #f1009b;
  --accent-color: #f65282;
  --background-color: white;
}

body {
  font-family: poppins;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0px;
  background-color: var(--primary-color);
}

container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  margin-top: 120px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/462/original/Screenshot_2023-09-15_150300.jpg?1694953691");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0px;
  margin-left: 0;
}

header h1 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}

.barbiespin {
  margin-left: 100px;
  max-width: 180px;
}
.Bhome,
.BWorld {
  color: var(--secondary-color);
  font-size: 50px;
  justify-content: space-between;
  font-weight: bold;
}

.container {
  max-width: 1400px;
  margin-top: 150px;
  margin: 0 auto;
}

.Barbie-poster {
  margin-top: 170px;
  height: auto;
  max-width: 100%;
}
